In [5]:
import requests
import pandas as pd
import time

In [3]:
#Keys

api_key = "AIzaSyDZRrTLNUswQ14Hbu61eQlvmUJBtFNTwY0"
channel_id = 'UC2UXDak6o7rBm23k3Vv5dww'

In [4]:
# make API call

response = requests.get('https://api.github.com').json()
response

{'current_user_url': 'https://api.github.com/user',
 'current_user_authorizations_html_url': 'https://github.com/settings/connections/applications{/client_id}',
 'authorizations_url': 'https://api.github.com/authorizations',
 'code_search_url': 'https://api.github.com/search/code?q={query}{&page,per_page,sort,order}',
 'commit_search_url': 'https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}',
 'emails_url': 'https://api.github.com/user/emails',
 'emojis_url': 'https://api.github.com/emojis',
 'events_url': 'https://api.github.com/events',
 'feeds_url': 'https://api.github.com/feeds',
 'followers_url': 'https://api.github.com/user/followers',
 'following_url': 'https://api.github.com/user/following{/target}',
 'gists_url': 'https://api.github.com/gists{/gist_id}',
 'hub_url': 'https://api.github.com/hub',
 'issue_search_url': 'https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}',
 'issues_url': 'https://api.github.com/issues',
 'keys_url': 'https://api.github.com/user/keys',
 'label_search_url': 'https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}',
 'notifications_url': 'https://api.github.com/notifications',
 'organization_url': 'https://api.github.com/orgs/{org}',
 'organization_repositories_url': 'https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}',
 'organization_teams_url': 'https://api.github.com/orgs/{org}/teams',
 'public_gists_url': 'https://api.github.com/gists/public',
 'rate_limit_url': 'https://api.github.com/rate_limit',
 'repository_url': 'https://api.github.com/repos/{owner}/{repo}',
 'repository_search_url': 'https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}',
 'current_user_repositories_url': 'https://api.github.com/user/repos{?type,page,per_page,sort}',
 'starred_url': 'https://api.github.com/user/starred{/owner}{/repo}',
 'starred_gists_url': 'https://api.github.com/gists/starred',
 'topic_search_url': 'https://api.github.com/search/topics?q={query}{&page,per_page}',
 'user_url': 'https://api.github.com/users/{user}',
 'user_organizations_url': 'https://api.github.com/user/orgs',
 'user_repositories_url': 'https://api.github.com/users/{user}/repos{?type,page,per_page,sort}',
 'user_search_url': 'https://api.github.com/search/users?q={query}{&page,per_page,sort,order}'}

In [30]:
#making the API call


api_key = "AIzaSyDZRrTLNUswQ14Hbu61eQlvmUJBtFNTwY0"
channel_id =  'UCW8Ews7tdKKkBT6GdtQaXvQ'
url = 'https://www.googleapis.com/youtube/v3/search?key='+api_key+"&channelId="+channel_id+"&part=snippet,id&order=date&maxResults=1000" #+pagetoken



response = requests.get(url).json()
response['items'][0]

{'kind': 'youtube#searchResult',
 'etag': '0br25juoeoxrqUFeUiupuuesmf0',
 'id': {'kind': 'youtube#video', 'videoId': 'Ih6G5hnn30Q'},
 'snippet': {'publishedAt': '2023-05-24T17:00:20Z',
  'channelId': 'UCW8Ews7tdKKkBT6GdtQaXvQ',
  'title': '[Part 2]: Exploring Decision Tree Classifiers For A Facebook Data Science Project of Movie Ratings',
  'description': 'Welcome back to our data project series on Rotten Tomatoes! In this video, we dive into the decision tree classifier, a popular ...',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/Ih6G5hnn30Q/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/Ih6G5hnn30Q/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/Ih6G5hnn30Q/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'StrataScratch',
  'liveBroadcastContent': 'none',
  'publishTime': '2023-05-24T17:00:20Z'}}

In [33]:
videos = response['items']
videos[0]

{'kind': 'youtube#searchResult',
 'etag': '0br25juoeoxrqUFeUiupuuesmf0',
 'id': {'kind': 'youtube#video', 'videoId': 'Ih6G5hnn30Q'},
 'snippet': {'publishedAt': '2023-05-24T17:00:20Z',
  'channelId': 'UCW8Ews7tdKKkBT6GdtQaXvQ',
  'title': '[Part 2]: Exploring Decision Tree Classifiers For A Facebook Data Science Project of Movie Ratings',
  'description': 'Welcome back to our data project series on Rotten Tomatoes! In this video, we dive into the decision tree classifier, a popular ...',
  'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/Ih6G5hnn30Q/default.jpg',
    'width': 120,
    'height': 90},
   'medium': {'url': 'https://i.ytimg.com/vi/Ih6G5hnn30Q/mqdefault.jpg',
    'width': 320,
    'height': 180},
   'high': {'url': 'https://i.ytimg.com/vi/Ih6G5hnn30Q/hqdefault.jpg',
    'width': 480,
    'height': 360}},
  'channelTitle': 'StrataScratch',
  'liveBroadcastContent': 'none',
  'publishTime': '2023-05-24T17:00:20Z'}}

In [11]:
# This seems to work to grab the statistics about the individual video

video_id = 'Ih6G5hnn30Q'
url = 'https://www.googleapis.com/youtube/v3/videos?key='+api_key+"&channelId="+channel_id+"&id="+video_id+"&part=statistics,id&order=date&maxResults=1"

statsresponse = requests.get(url).json()
statsresponse

{'kind': 'youtube#videoListResponse',
 'etag': 'wP-GhK-BeCq-2q71cCH9gK0n618',
 'items': [{'kind': 'youtube#video',
   'etag': 'lboQL0tMkEOgk6pdUeaeR1kFJPg',
   'id': 'Ih6G5hnn30Q',
   'statistics': {'viewCount': '305',
    'likeCount': '11',
    'favoriteCount': '0',
    'commentCount': '0'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [35]:
#statsresponse['items'][0]['statistics']['viewCount']
#statsresponse['items'][0]['statistics']['likeCount']
statsresponse['items'][0]['statistics']['favoriteCount']
#statsresponse['items'][0]['statistics']['commentCount']

'0'

In [60]:
# The above call doesn't really give us much helpful info so let's make a second call to grab the statistics about the video

api_key = "AIzaSyDZRrTLNUswQ14Hbu61eQlvmUJBtFNTwY0"
channel_id =  'UCW8Ews7tdKKkBT6GdtQaXvQ'
url = 'https://www.googleapis.com/youtube/v3/search?key='+api_key+"&channelId="+channel_id+"&part=snippet,id&order=date&maxResults=1000" #+pagetoken


data = []

for v in response['items']:

    videoid = v['id']['videoId']
    videotitle = v['snippet']['title']
    videodate = v['snippet']['publishTime']
    #data.append((videoid,videotitle,videodate))

    #need to pass in information about the current video we're looping through to grab the stats

    statsurl = 'https://www.googleapis.com/youtube/v3/videos?key='+api_key+"&channelId="+channel_id+"&id="+videoid+"&part=statistics,id&order=date&maxResults=1"

    statsresponse = requests.get(statsurl).json()

    views = statsresponse['items'][0]['statistics']['viewCount']
    likes = statsresponse['items'][0]['statistics']['likeCount']
    faves = statsresponse['items'][0]['statistics']['favoriteCount']
    comments = statsresponse['items'][0]['statistics']['commentCount']

    data.append((videoid,videotitle,videodate,views,likes,faves,comments))

df2 = pd.DataFrame.from_records(data, columns=['VideoID','Title','PublishDate','Views','Likes','Faves','Comments'])
print(df2.dtypes)
df2.head(5)

VideoID        object
Title          object
PublishDate    object
Views          object
Likes          object
Faves          object
Comments       object
dtype: object

,VideoID,Title,PublishDate,Views,Likes,Faves,Comments
0,Ih6G5hnn30Q,[Part 2]: Exploring Decision Tree Classifiers ...,2023-05-24T17:00:20Z,306,12,0,0
1,REGDQyCBY0I,Rotten Tomatoes Movie Rating Prediction - Data...,2023-05-23T17:00:16Z,124,2,0,0
2,cM12QtrhdLo,[Part 1]: Exploring and Visualizing Data For A...,2023-05-17T17:00:31Z,481,13,0,0
3,A9QzeBFj5GY,Python Pandas: Understanding Percentage Rankin...,2023-05-16T17:00:05Z,213,10,0,0
4,Cg66PLiW9L0,Data Ranking: Python Pandas and SQL Equivalent...,2023-05-10T17:00:07Z,418,14,0,1

In [66]:
df2['PublishDate'].str.split("T",expand=True)[0].head(5)

0    2023-05-24
1    2023-05-23
2    2023-05-17
3    2023-05-16
4    2023-05-10
Name: 0, dtype: object

In [102]:


df2[['Views','Likes','Faves','Comments']] = df2[['Views','Likes','Faves','Comments']].astype(int)
#df2[['VideoID','Title']] = df2[['VideoID','Title']].astype(str) # Turns out you don't need to convert from object - it will always shows strings as 'object'
df2['PublishDate'] = df2['PublishDate'].str.split("T",expand=True)[0]

print(df2.dtypes)
df2

VideoID        object
Title          object
PublishDate    object
Views           int64
Likes           int64
Faves           int64
Comments        int64
dtype: object

,VideoID,Title,PublishDate,Views,Likes,Faves,Comments
0,Ih6G5hnn30Q,[Part 2]: Exploring Decision Tree Classifiers ...,2023-05-24,306,12,0,0
1,REGDQyCBY0I,Rotten Tomatoes Movie Rating Prediction - Data...,2023-05-23,124,2,0,0
2,cM12QtrhdLo,[Part 1]: Exploring and Visualizing Data For A...,2023-05-17,481,13,0,0
3,A9QzeBFj5GY,Python Pandas: Understanding Percentage Rankin...,2023-05-16,213,10,0,0
4,Cg66PLiW9L0,Data Ranking: Python Pandas and SQL Equivalent...,2023-05-10,418,14,0,1
5,d2neUrrUSu0,Python for Data Analysis: Probability And Bino...,2023-05-02,361,13,0,0
6,MO1TY636-YA,A Python Approach to Solving Probability Inter...,2023-04-26,623,30,0,0
7,f6P1nuQXsC0,Using IFNULL() Function in MySQL to Avoid Null...,2023-04-25,359,14,0,0
8,rbRYsAgwPBA,Using IFNULL() on a Google SQL Interview Question,2023-04-19,1190,32,0,4
9,IWo8H8U_Ugk,Sorting and Ranking Data in Python: An Overvie...,2023-04-18,226,9,0,0
10,2uu0prXMhfU,How to Rank() Your Data In Python Pandas [Part 1],2023-04-12,785,39,0,1
11,sF6gngs9myY,38 Data Science Tools For Beginners to Experts,2023-04-05,1899,139,0,12
12,Y5-eAFnxMjU,Maximizing Profits: Solving the Uber Data Proj...,2023-04-04,295,12,0,0
13,xlppLbv7nb0,Using Python Pandas for Building Uber&#39;s Bu...,2023-03-29,960,24,0,0
14,Mkhdz2TLP2E,Uber Data Project: Exploring Bonus Payout with...,2023-03-29,456,18,0,0
15,-Lzi4Qoy2v4,Using Python Pandas To Answer Business Questio...,2023-03-22,831,26,0,2
16,pqeUTfNFBCU,Exploring and Cleaning Data: The First Step in...,2023-03-14,1783,75,0,1
17,ZOthTms86Bw,Exploratory Data Analysis For An Uber Python D...,2023-03-08,1794,70,0,0
18,9oNY9EV3MiM,Speed up your Python Data Manipulation with La...,2023-02-28,734,25,0,0
19,YN-5NQO4iSU,Solving Amazon Interview Questions with Lambda...,2023-02-22,873,37,0,2
20,ltzJhIs8voQ,Mastering SQL String Manipulation with Regex_s...,2023-02-21,473,33,0,0
21,BgN5hpl3WKc,Solving a Tricky Google SQL Question with Stri...,2023-02-16,1691,52,0,4
22,GxR66KdqBFU,Analyzing Datasets with Window Functions: Firs...,2023-02-16,475,16,0,0
23,-KXluZNAYrA,Window Function in SQL: A Step-by-Step Guide t...,2023-02-08,1585,62,0,7
24,Xzr7PMeqXyU,Crush Your Data Science Interview: Master Grou...,2023-02-07,407,21,0,1
25,f-9SnlALFac,Group By &amp; Aggregate Functions to Solve Py...,2023-02-01,829,37,0,4
26,iN9H3Bau05k,Airbnb Python Coding Practice for Interview,2023-01-31,1531,56,0,0
27,_XbrEcgQYSA,How to Use the Lambda Function in Python to So...,2023-01-25,989,27,0,4
28,pqQG_tNXncc,Classical Machine Learning [DoorDash Data Scie...,2023-01-18,2097,57,0,3
29,g7Lt_Kqn0wA,Hard SQL Interview Question from Wine Magazine,2023-01-17,531,20,0,0
30,vdmCxvaRdLU,Using Rank() and PARTITIONs in SQL To Solve Co...,2023-01-11,1975,64,0,7
31,A1U4TPxZ0CE,Correlation Matrix in Python to Solve a DoorDa...,2023-01-10,543,27,0,0
32,gh5JzALBQvU,How To Handle Multicollinearity and Feature Se...,2023-01-04,2080,77,0,8
33,m3zEV10qvE8,Collinearity and Removing Redundancies [DoorDa...,2022-12-29,1548,58,0,5
34,G7fvAkj9gQs,How to Build a DoorDash Prediction Model with ...,2022-12-28,721,31,0,0
35,Sf6jn8QZHhc,Data Preparation for Modeling [DoorDash Data S...,2022-12-22,3351,83,0,19
36,AM4nPwvUtTo,Python Data Science Projects for Beginners - B...,2022-12-15,2248,136,0,5
37,Vt-POo9tEB8,Spotify Days At Number One SQL Question,2022-12-07,531,22,0,0
38,93quPoReV1M,SQL Solution to SPOTIFY Days At Number One Que...,2022-12-01,2762,101,0,5
39,6xo0cn0BpKs,How to Solve a Forbes Interview Question Using...,2022-11-30,637,16,0,0
40,a8T88wCrmAQ,Solving FORBES Coding Interview Questions in P...,2022-11-28,1471,57,0,10
41,i80pkW8YeKI,Data Provides vs Data Users: Choose Your Job i...,2022-11-16,710,18,0,2
42,yoUO84tOH3c,Edge Case Alert in Python Interview Question S...,2022-11-14,390,13,0,0
43,qbN_t6sh4_E,Data Science Job Types &amp; Careers,2022-11-11,703,32,0,3
44,9quwCoQ6CoU,Meta Product Families: head() Function to Expl...,2022-11-09,250,5,0,0
45,RmMuS5iiviI,Python Pandas Techniques In A Meta Data Scienc...,2022-11-03,1492,52,0,1
46,bppeYE-VUSQ,Data Science Interview Simple Tips: How to Ans...,2022-10-31,626,26,0,0
47,0EKPN19Y9MA,How many Twitch viewers became streamers? A SQ...,2022-10-26,351,13,0,0
48,vQmk0bH25d0,[Part 2] EDGE Cases in Data Analysis: How to R...,2022-10-22,388,4,0,0
49,M-dT_0m4qhI,SQL interview: How many Twitch viewers became ...,2022-10-20,2953,92,0,6

In [99]:
# note that if you dont put the .str in the below then it'll just return the first 4 rows of data

df2['PublishDate'].groupby(df2['PublishDate'].str[:4]).count()

PublishDate
2022    17
2023    33
Name: PublishDate, dtype: int64

In [105]:
#import pandas as pd
from datetime import datetime

df2['PublishDate'] = pd.to_datetime(df2['PublishDate'])

df2.dtypes

VideoID                object
Title                  object
PublishDate    datetime64[ns]
Views                   int64
Likes                   int64
Faves                   int64
Comments                int64
dtype: object

In [64]:
df = pd.DataFrame(columns = ['VideoID', 'Title', 'PublishDate'])
df

Empty DataFrame
Columns: [VideoID, Title, PublishDate]
Index: []

In [32]:
data = []

for v in response['items']:

    videoid = v['id']['videoId']
    videotitle = v['snippet']['title']
    videodate = v['snippet']['publishTime']
    
    data.append((videoid,videotitle,videodate))

df2 = pd.DataFrame.from_records(data, columns=['VideoID','Title','PublishDate'])
df2.head(5)

,VideoID,Title,PublishDate
0,Ih6G5hnn30Q,[Part 2]: Exploring Decision Tree Classifiers ...,2023-05-24T17:00:20Z
1,REGDQyCBY0I,Rotten Tomatoes Movie Rating Prediction - Data...,2023-05-23T17:00:16Z
2,cM12QtrhdLo,[Part 1]: Exploring and Visualizing Data For A...,2023-05-17T17:00:31Z
3,A9QzeBFj5GY,Python Pandas: Understanding Percentage Rankin...,2023-05-16T17:00:05Z
4,Cg66PLiW9L0,Data Ranking: Python Pandas and SQL Equivalent...,2023-05-10T17:00:07Z